**/*__pycache__/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
**/lib/
*lib/
lib64/
parts/
sdist/
var/
wheels/
bookmarks/
qsettings/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
**/env_vars.*
*.yml
